.about {
    background-color: #282A36;
    padding: 10px;
    border-radius: 5px;
    color: rgb(243, 243, 243);
    overflow-y: scroll;
    direction: ltr !important;
}
.myabout {
    padding: 20px;
    margin-top: 10px;
    font-family: Vazirmatn, sans-serif;
    font-variant-caps: unicase;
    font-size: 27px;
}
.myabout > h1 {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 16px;
    font-family: Vazirmatn, sans-serif;
}
.progressbar {
    margin-top: 60px;    
}
.certi {
    font-family: Vazirmatn, sans-serif;
    margin-top: 50px;
    direction: rtl;
}
.certipic {
    display: flex;
    justify-content: space-around;
}
.projects {
    direction: rtl;
    font-family: Vazirmatn, sans-serif;
}

@media screen and (max-width: 728px) {
    .myabout {
        padding: 20px;
        margin-top: 10px;
        font-family: Vazirmatn, sans-serif;
        font-variant-caps: unicase;
        font-size: 20px;
    }
    .certipic {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
}